{% extends 'base.html.twig' %}

{% block title %}
    Todo App
{% endblock %}

{% block body %}

<!-- get the data from the controller $data['header'] -->
    <h1>{{ header }}</h1>

    <p>{{ description }}</p>


{% endblock %}

